extends /views/layouts/layout

block content
    h1 Lazy load images with web-components and intersection-observer

    for file in files
        sc-img(src=file.filePath, style={
            '--w': file.originalWidth,
            '--h': file.originalHeight,
            'background-image': `url(${file.base64})`
        })
        .spacer